VL.ItsMe1110/Service References/SubjectUserService/VL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VL.Common.Protocol" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.SubjectUserService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.SubjectUserService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Enums" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ReportOfESignInStatustcv8SCZ1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReportOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ESignInStatus" Namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Enums" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Report">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VL.User.Objects.Enums" minOccurs="0" name="Data" type="q2:ESignInStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportOfESignInStatustcv8SCZ1" nillable="true" type="tns:ReportOfESignInStatustcv8SCZ1" />
</xs:schema>