VL.ItsMe1110/Service References/SubjectUserService/VL3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.SubjectUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.SubjectUserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" />
  <xs:element name="CheckAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNodeReferences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNodeReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" minOccurs="0" name="CheckNodeReferencesResult" nillable="true" type="q1:DependencyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" minOccurs="0" name="user" nillable="true" type="q2:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" minOccurs="0" name="CreateUserResult" nillable="true" type="q3:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" minOccurs="0" name="user" nillable="true" type="q4:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q5:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>