VL.ItsMe1110/Service References/ObjectUserService/VL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.ObjectUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Object.Protocol" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.ObjectUserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.User" />
  <xs:element name="CheckAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNodeReferences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNodeReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VL.Common.Object.Protocol" minOccurs="0" name="CheckNodeReferencesResult" nillable="true" type="q1:DependencyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VL.Common.Object.Protocol" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q2:ReportOfArrayOfTUserD4WZmo3i" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.User" minOccurs="0" name="user" nillable="true" type="q3:TUser" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.User" minOccurs="0" name="roles" nillable="true" type="q4:ArrayOfERole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VL.Common.Object.Protocol" minOccurs="0" name="CheckUserInRoleResult" nillable="true" type="q5:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>