VL.ItsMe1110/Service References/ObjectUserService/VL4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.Services.ObjectUserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Object.ORM" />
  <xs:complexType name="ArrayOfTUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser" nillable="true" type="tns:TUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser" nillable="true" type="tns:ArrayOfTUser" />
  <xs:complexType name="TUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VL.Common.Object.ORM" base="q1:IPDMTBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfERole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ERole" type="tns:ERole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfERole" nillable="true" type="tns:ArrayOfERole" />
  <xs:simpleType name="ERole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Administrator" />
      <xs:enumeration value="User" />
      <xs:enumeration value="Guest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ERole" nillable="true" type="tns:ERole" />
</xs:schema>