VL.ItsMe1110/Service References/ObjectBlogService/ObjectBlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObjectBlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Core.Protocol" />
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Object.VL.Blog" />
      <xsd:import schemaLocation="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Core.ORM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObjectBlogService_CheckAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAlive" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_CheckAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_CheckNodeReferences_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNodeReferences" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_CheckNodeReferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNodeReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetAllBlogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogs" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetAllBlogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetBlogBody_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogBody" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetBlogBody_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogBodyResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetBlogDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogDetail" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetBlogDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetVisibleBlogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisibleBlogs" />
  </wsdl:message>
  <wsdl:message name="IObjectBlogService_GetVisibleBlogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisibleBlogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IObjectBlogService">
    <wsdl:operation name="CheckAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckAlive" message="tns:IObjectBlogService_CheckAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckAliveResponse" message="tns:IObjectBlogService_CheckAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNodeReferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckNodeReferences" message="tns:IObjectBlogService_CheckNodeReferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckNodeReferencesResponse" message="tns:IObjectBlogService_CheckNodeReferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectBlogService/GetAllBlogs" message="tns:IObjectBlogService_GetAllBlogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectBlogService/GetAllBlogsResponse" message="tns:IObjectBlogService_GetAllBlogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogBody">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectBlogService/GetBlogBody" message="tns:IObjectBlogService_GetBlogBody_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectBlogService/GetBlogBodyResponse" message="tns:IObjectBlogService_GetBlogBody_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectBlogService/GetBlogDetail" message="tns:IObjectBlogService_GetBlogDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectBlogService/GetBlogDetailResponse" message="tns:IObjectBlogService_GetBlogDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisibleBlogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IObjectBlogService/GetVisibleBlogs" message="tns:IObjectBlogService_GetVisibleBlogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObjectBlogService/GetVisibleBlogsResponse" message="tns:IObjectBlogService_GetVisibleBlogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IObjectBlogService" type="tns:IObjectBlogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAlive">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceNode/CheckAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNodeReferences">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceNode/CheckNodeReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlogs">
      <soap:operation soapAction="http://tempuri.org/IObjectBlogService/GetAllBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogBody">
      <soap:operation soapAction="http://tempuri.org/IObjectBlogService/GetBlogBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetail">
      <soap:operation soapAction="http://tempuri.org/IObjectBlogService/GetBlogDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisibleBlogs">
      <soap:operation soapAction="http://tempuri.org/IObjectBlogService/GetVisibleBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectBlogService">
    <wsdl:port name="BasicHttpBinding_IObjectBlogService" binding="tns:BasicHttpBinding_IObjectBlogService">
      <soap:address location="http://dcwl027:8003/VL.Blog.Service.Services.ObjectBlogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>